.centered-form-container {
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
}

.contact-header h2 {
  font-size: 28px;
  text-align: center;
  color: green;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #707070;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #8a9557;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .centered-form-container {
    margin: 50px 20px;
    padding: 10px;
  }

  .contact-header h2 {
    font-size: 24px;
  }
}
