.about-us-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.quote-box {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.content-container {
  padding: 20px;
}

.contactheader h2 {
  font-size: 28px;
  text-align: center;
  color: green;
}

.about-text {
  margin-top: 20px;
}
.about-padding {
  margin-top: 7px;
}
@media screen and (min-width: 768px) {
  .about-us-container {
    flex-direction: row;
    align-items: center;
  }

  .image-container {
    width: 50%;
  }

  .content-container {
    width: 50%;
  }
}
