.about-us-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
}

.image-container {
  position: relative;
}

.image-container img {
  /* width: 100%; */
  /* max-width: 400px; */
  width: 550px;
  height: 430px;
}

.quote-box {
  background-color: transparent;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}

.content-container {
  padding: 20px;
}

.contactheader h2 {
  font-size: 28px;
  text-align: center;
  color: green;
}

.about-text {
  margin-top: 20px;
}

.about-padding {
  margin-top: 7px;
}

@media screen and (min-width: 768px) {
  .about-us-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .image-container {
    justify-self: end;
    margin-right: 20px;
  }
}
